@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 13px;
  font-family: sans-serif;
  color: #333333;
  font-weight: 400;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}
